<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html style="height: 100%">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
        <title>Films - Login</title>
        <link th:href="@{/css/login.css}" rel="stylesheet" />
        <meta name="viewport" content="width=device-width" />
    </head>
    <!--<body>-->
    <body th:style="'background-image:url(/img/background/2.jpg); height: 100%; margin: 0;'">
        <div id="app"></div>
        <script th:src="@{/js/login.js}"></script>
    </body>
</html>
